.container{
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

#language{
	font-size: 150%;
}



.bgimage {
background-image: url(../images/panoramica.jpg);
background-size: 100%;
}

.bgimage-inside {
padding-top: 37.36%; /* this is actually (426/1140)*100 */
}