.container{
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

#language{
	font-size: 150%;
}

body{
	background-size: 100%;
	background-image: url(../images/panoramica.jpg) ;
	background-size: cover;
  	background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
	background: url(../images/panoramica.jpg) no-repeat center center fixed;
}